**<center> <span style="color:#0F52BA;font-family:serif; font-size:32px;"> KnowledgeKapture 1.0</span> </center>**

# Documents

In [1]:
doc_dict = {

    "doc_1" : "Elastic search, is a big data text mining tool.",
    "doc_2" : "Elastic search help us understand data.",
    "doc_3" : "big data is useful when its big information."

}

query = "Elastic search in Big data "

# PreProcessing Function

In [2]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer



def Pre_proccing_text(text):
        
    stop_words = set(stopwords.words('english') + ['us'])
    tokenizer = RegexpTokenizer(r'\w+')
    
    word_tokens = word_tokenize(text)

    filtered_sentence_stopword = [w.lower() for w in word_tokens if not w.lower() in stop_words]
    
    filtered_sentence_punc = tokenizer.tokenize(" ".join(filtered_sentence_stopword))
    
    return " ".join(filtered_sentence_punc)




def Stemming_sentences(text):
        
    ps = PorterStemmer()
    
    stemming_list = [ps.stem(w) for w in text.split()]
    
    return " ".join(stemming_list)

# Remove StopWords From Doc,Query

In [3]:
filtered_stopwords_punc_doc_dict = dict()

for i in doc_dict:
    
    filtered_stopwords_punc_doc_dict[i] = Pre_proccing_text(doc_dict[i])

query = Pre_proccing_text(query)    
    

for  i in filtered_stopwords_punc_doc_dict:
    print(f" The {i} : {filtered_stopwords_punc_doc_dict[i]} ")
    
print("*" *30)
print(f"Query -- >  {query}")

 The doc_1 : elastic search big data text mining tool
 The doc_2 : elastic search help understand data
 The doc_3 : big data useful big information
******************************
Query -- >  elastic search big data

# Stemning Doc,Query

In [4]:
stemming_dict = dict()

for i in filtered_stopwords_punc_doc_dict:
    
    stemming_dict[i] = Stemming_sentences(filtered_stopwords_punc_doc_dict[i])

stem_query = Stemming_sentences(query)    
    

for  i in stemming_dict:
    print(f" The {i} : {stemming_dict[i]} ")
    
print("*" *30)
print(f"Query -- >  {stem_query}")

 The doc_1 : elast search big data text mine tool
 The doc_2 : elast search help understand data
 The doc_3 : big data use big inform
******************************
Query -- >  elast search big data

# All Terms in docs

In [5]:
set_of_words = set()
list_of_words = []
for i in stemming_dict.values():
    
    for c in set(i.split(" ")):
        set_of_words.add(c)
        list_of_words.append(c)
set_of_words = list(set_of_words)
set_of_words

['big',
 'text',
 'search',
 'inform',
 'use',
 'help',
 'understand',
 'tool',
 'elast',
 'mine',
 'data']

In [6]:
list_of_words

['big',
 'text',
 'search',
 'tool',
 'elast',
 'mine',
 'data',
 'search',
 'help',
 'understand',
 'elast',
 'data',
 'big',
 'data',
 'inform',
 'use']

# df IDF Table

In [7]:
import pandas as pd
import numpy as np
docfreq_idf_dict = {
    
    "terms" : set_of_words,
    
    "DocFreq" : [i * 0 for i in range(len(set_of_words))],
    
    "IDF" : [i * 0 for i in range(len(set_of_words))]
    
}

docfreq_idf_df = pd.DataFrame(docfreq_idf_dict).sort_values(by = 'terms').reset_index(drop=True)
docfreq_idf_df

         terms  DocFreq  IDF
0          big        0    0
1         data        0    0
2        elast        0    0
3         help        0    0
4       inform        0    0
5         mine        0    0
6       search        0    0
7         text        0    0
8         tool        0    0
9   understand        0    0
10         use        0    0

# Calculate DocFreq-IDF

In [8]:
for i in list(docfreq_idf_df.index):
    
    doc_freq_term = list_of_words.count(docfreq_idf_df.loc[i,"terms"])
    
    docfreq_idf_df.loc[i,"DocFreq"] = doc_freq_term
    docfreq_idf_df.loc[i,"IDF"]  = np.log10(len(doc_dict) / doc_freq_term)

docfreq_idf_df.index =  docfreq_idf_df.index +1 
docfreq_idf_df

         terms  DocFreq       IDF
1          big        2  0.176091
2         data        3  0.000000
3        elast        2  0.176091
4         help        1  0.477121
5       inform        1  0.477121
6         mine        1  0.477121
7       search        2  0.176091
8         text        1  0.477121
9         tool        1  0.477121
10  understand        1  0.477121
11         use        1  0.477121

# Tf Table

In [9]:
array_for_weight_freq_df = np.zeros((len(doc_dict)+1,len(docfreq_idf_df.index)))
array_for_weight_freq_df

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [10]:
df_for_weight_freq_df = pd.DataFrame(array_for_weight_freq_df,
                                     columns = [f"T{i}" for i in docfreq_idf_df.index],index  = [i for i in doc_dict] + ['Q'])
df_for_weight_freq_df

        T1   T2   T3   T4   T5   T6   T7   T8   T9  T10  T11
doc_1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
doc_2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
doc_3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
Q      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

# Calculate Tf Table

In [11]:
df_for_freq_df = df_for_weight_freq_df.copy()

for i in df_for_weight_freq_df.index:
    
    
    if i == 'Q':
        continue
    
    for c in df_for_weight_freq_df.columns:
        
        term_freq_doc = stemming_dict[i].split(" ").count(docfreq_idf_df.loc[int(c[1:]),"terms"])
        
        df_for_freq_df.loc[i,c] = term_freq_doc
        

for c in df_for_weight_freq_df.columns:
    
    term_freq_query = stem_query.split(" ").count(docfreq_idf_df.loc[int(c[1:]),"terms"])
    
    df_for_freq_df.loc["Q",c] = term_freq_query


df_for_freq_df

        T1   T2   T3   T4   T5   T6   T7   T8   T9  T10  T11
doc_1  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0
doc_2  0.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
doc_3  2.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
Q      1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0

# Calculate Weight Table

In [12]:
df_for_weight_df = df_for_weight_freq_df.copy()

for i in df_for_weight_freq_df.index:
    
    
    if i == 'Q':
        continue
    
    for c in df_for_weight_freq_df.columns:
        
        term_freq_doc = stemming_dict[i].split(" ").count(docfreq_idf_df.loc[int(c[1:]),"terms"])
        
        idf = docfreq_idf_df.loc[int(c[1:]),"IDF"]
        
        df_for_weight_df.loc[i,c] = term_freq_doc * idf
        

for c in df_for_weight_freq_df.columns:
    
    term_freq_query = stem_query.split(" ").count(docfreq_idf_df.loc[int(c[1:]),"terms"])
    
    idf = docfreq_idf_df.loc[int(c[1:]),"IDF"]
    
    df_for_weight_df.loc["Q",c] = term_freq_query * idf


df_for_weight_df

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11
doc_1,0.176091,0.0,0.176091,0.000000,0.000000,0.477121,0.176091,0.477121,0.477121,0.000000,0.000000
doc_2,0.000000,0.0,0.176091,0.477121,0.000000,0.000000,0.176091,0.000000,0.000000,0.477121,0.000000
doc_3,0.352183,0.0,0.000000,0.000000,0.477121,0.000000,0.000000,0.000000,0.000000,0.000000,0.477121
Q,0.176091,0.0,0.176091,0.000000,0.000000,0.000000,0.176091,0.000000,0.000000,0.000000,0.000000

# Result Table

In [13]:

methods_result = ['inner',"cosine","jaccard","dice"]


df_result = pd.DataFrame(np.zeros((len(doc_dict),4)),index = doc_dict.keys() ,columns = methods_result)
df_result

       inner  cosine  jaccard  dice
doc_1    0.0     0.0      0.0   0.0
doc_2    0.0     0.0      0.0   0.0
doc_3    0.0     0.0      0.0   0.0

# Inner Product

In [14]:
# FIRST METHOD , inner product ∑(𝒅𝒊𝒌.𝒒𝒌)

# Calculate the inner product between query and documents weights
query_weights = df_for_weight_df.loc['Q']
doc_weights = df_for_weight_df.drop('Q')

inner_product = doc_weights.dot(query_weights)

df_result["inner"]=inner_product

df_result

          inner  cosine  jaccard  dice
doc_1  0.093024     0.0      0.0   0.0
doc_2  0.062016     0.0      0.0   0.0
doc_3  0.062016     0.0      0.0   0.0

# Cosine

In [15]:

# SECONDE METHOD , cosine

query_tf = df_for_freq_df.loc['Q']
doc_tf = df_for_freq_df.drop('Q')

#Numerator :
dot_products = doc_tf.dot(query_tf)

#denominator :
#length for doc and query
len_query = np.sqrt(np.sum(np.square(query_tf)))

len_docs = np.sqrt(np.sum(np.square(doc_tf), axis=1))

cosine = dot_products / (len_docs * len_query)

df_result["cosine"]=cosine

df_result

          inner    cosine  jaccard  dice
doc_1  0.093024  0.755929      0.0   0.0
doc_2  0.062016  0.670820      0.0   0.0
doc_3  0.062016  0.566947      0.0   0.0

# Jaccard

In [16]:

# THIRD METHOD , jaccard : i𝒏𝒏𝒆𝒓 𝒑𝒓𝒐𝒅𝒖𝒄𝒕/(∑𝒅𝟐ⅈ𝒌. + ∑𝒒𝟐𝒌−𝒊𝒏𝒏𝒆𝒓 𝒑𝒓𝒐𝒅𝒖𝒄𝒕)

squared_weights_query= np.sum(np.square(query_weights))
sum_squared_weights = np.square(doc_weights).sum(axis=1)
Jaccard = inner_product / (squared_weights_query + sum_squared_weights - inner_product)
df_result["jaccard"]=Jaccard
df_result

          inner    cosine   jaccard  dice
doc_1  0.093024  0.755929  0.119883   0.0
doc_2  0.062016  0.670820  0.113104   0.0
doc_3  0.062016  0.566947  0.101611   0.0

# dice

In [17]:


#FORTH METHOD , dice
#Numerator :
dot_products = doc_tf.dot(query_tf)

#denominator :
sum_squared_query= np.sum(np.square(query_tf))
sum_squared_doc = np.square(doc_tf).sum(axis=1)

#final equation
dice = 2*dot_products / (sum_squared_doc + sum_squared_query)
df_result["dice"]=dice
df_result

          inner    cosine   jaccard      dice
doc_1  0.093024  0.755929  0.119883  0.727273
doc_2  0.062016  0.670820  0.113104  0.666667
doc_3  0.062016  0.566947  0.101611  0.545455

# Sorting Table

In [18]:
x = list(df_result.columns)

sorted_df2 = df_result.sort_values(by=x, ascending=False)

sorted_df2

          inner    cosine   jaccard      dice
doc_1  0.093024  0.755929  0.119883  0.727273
doc_2  0.062016  0.670820  0.113104  0.666667
doc_3  0.062016  0.566947  0.101611  0.545455